.box-layout {
	align-items: center;
	background: url('/images/bg.jpg');
	background-size: cover;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;

	&__box {
		background: fade-out(white, .15);		
		border-radius: 3px;
		padding: $size-l $size-m;
		text-align: center;
		width: 25rem;
	}

	&__title {
		line-height: 1;
		margin: 0 0 $size-m 0;
	}
}

