.page-header {
	background: lighten($grey, 78%);
	padding: $size-l 0;
	margin-bottom: $size-l;

	&__title {
		font-weight: 300;
		margin: 0;
		span {
			font-weight: bold;
		}
	}

	&__actions {
		margin-top: $size-m;
	}
}