// Colors
$grey:					#333;
$blue:					#1c88bf;

// Font sizes
$font-size-l: 	1.8rem;
$font-size-s: 	1.4rem;

// Spacing
$size-s: 				1.2rem;
$size-m: 				1.6rem;
$size-l: 				3.2rem;
$size-xl: 			4.8rem;

// Media
$breakpoint-desktop: 	45rem;